body    {
    font-family: Arial, Helvetica, sans-serif;
}

a   {
    text-decoration: none;
    color: inherit;
}


@keyframes slideDownfadeInpt2 {
     from {opacity: 0; top: 20px;}

     to  {opacity: 1; top: 50px;}
}

@keyframes slideUpfadeInpt2  {
    from {opacity: 0;top: 350px;}
    to {opacity: 1; top: 300px;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes cutToBlack {
    from{background-color: white;}
    to{background-color: black;}
}

a:hover{animation: fadeOut 1s; animation-fill-mode:forwards;}
a{animation: fadeIn 1s; animation-fill-mode:forwards;}

.part1 {   
    margin-left: 40px;
    .upper  {
        a{ text-shadow: 2px 2px 8px #FFC42E;};
        color: #FFC42E;
        font-size: 50px;
        animation: fadeIn 4s, slideup 4s;
        
    }

    .lower  {
        a{ text-shadow: 2px 2px 8px #AB6f00;};
        opacity: 0;
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: left;
        font-size: 50px;
        color:#AB6f00;
        animation: 2s fadeIn;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    };
    background-image: linear-gradient(#AB6f00 50%,#FFC42E 50%);
    background-attachment: fixed;
}

.part2  {
    a{ text-shadow: 2px 2px 8px white;};
    .upper{
        color: #FEFFEE;
        position: relative;
        top: 50px;
        left: 50px;
        animation: 3s fadeIn;
        opacity: 0%;
        animation-fill-mode: forwards;

    };

    .lower{
        position: relative;
        top: 300px;
        right: 100px;
        text-align: right;
        color: #E4F3FF;
        animation: 3s fadeIn;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        opacity: 0%;
    }
    background-image: linear-gradient(#29184f 45%, #030039 55%);
    background-attachment: fixed;
}

.part3  {
    a{ text-shadow: 2px 2px 8px white;}

    .please {opacity: 0%; animation: fadeIn 3s; animation-delay: 0s; animation-fill-mode: forwards;}
    .dont {opacity: 0%; animation: fadeIn 3s; animation-delay: 1s;animation-fill-mode: forwards;}
    .cry {opacity: 0%; animation: fadeIn 3s; animation-delay: 2s;animation-fill-mode: forwards;}
    .letme {opacity: 0%; animation: fadeIn 3s; animation-delay: 3s;animation-fill-mode: forwards;}

    .dry {opacity: 0%; animation: fadeIn 3s; animation-delay: 0s; animation-fill-mode: forwards;}
    .your {opacity: 0%; animation: fadeIn 3s; animation-delay: 1s;animation-fill-mode: forwards;}
    .eyes {opacity: 0%; animation: fadeIn 3s; animation-delay: 2s;animation-fill-mode: forwards;}

    h1    {
        color: white;
        position: relative;
        text-align: center;
        margin: 10%;
    }
    background-color: black;
}

.part4  {
    a{ text-shadow: 2px 2px 8px #ff6bf8;}
    .line1 {opacity: 0%; animation: fadeIn 3s; animation-delay: 0s; animation-fill-mode: forwards;}
    .line2 {opacity: 0%; animation: fadeIn 3s; animation-delay: 1s;animation-fill-mode: forwards;}
    .line3 {opacity: 0%; animation: fadeIn 3s; animation-delay: 2s;animation-fill-mode: forwards;}
    h1  {
        color: #030039;
        position: relative;
        text-align: center; 
        margin: 20%;
    }
    background-image: radial-gradient(red 2%, #030039 74%);
    background-attachment: fixed;
}

.part5  {

        .you {opacity: 0%; animation: fadeIn 0s; animation-delay: 0s; animation-fill-mode: forwards;};
        .can {opacity: 0%; animation: fadeIn 0s; animation-delay: 1s; animation-fill-mode: forwards;}
        .live {opacity: 0%; animation: fadeIn 0s; animation-delay: 2s; animation-fill-mode: forwards;}
        .in {opacity: 0%; animation: fadeIn 0s; animation-delay: 3s; animation-fill-mode: forwards;}
        .my {opacity: 0%; animation: fadeIn 0s; animation-delay: 4s; animation-fill-mode: forwards;}
        .heart {opacity: 0%; animation: fadeIn 0s; animation-delay: 5s; animation-fill-mode: forwards;}

    h1  {
        color: #000000;
        position: relative;
        margin: 5%;
        text-align: center;
        font-size: 45px;
    }
    background-color: white;
    background-size: cover;
    animation: cutToBlack 0s; animation-delay: 6s; animation-fill-mode: forwards;
}